<!-- orders.component.html -->
<app-navbar></app-navbar>
<div class="orderbody">
    <app-sidebar></app-sidebar>
<div class="orders-container">
    <h2>Pending Orders Of Chikku </h2>
    <ng-template #noOrders>
      <div class="loader"></div>
    </ng-template>
<div *ngIf="orders.length > 0; else noOrders">
  <div class="container mt-3 searchback">
    <button class="btn btn-warning" (click)="back()">back</button>
    <form class="form-inline d-flex">
        <input type="search" class="form-control mr-sm-2" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

  <div class="order-item" *ngFor="let order of orders | slice: (page-1)*pageSize : page*pageSize">
    <div class="order-details   page-item">
      <!-- <p><strong>Order ID:</strong> {{ order.orderId }}</p> -->
      <p class="p-3 "><strong>User Name:</strong> {{ order.userName }}</p>
      <p class="p-3"><strong>Email:</strong> {{ order.emailId }}</p>
      <p class="p-3"><strong>Total Price:</strong> <strong>{{ order.totalPrice }}</strong></p>
      <p class="p-3"><strong>Order Status:</strong> {{ order.orderStatus }}</p>
      <p class="p-3 "><strong>Payment Status:</strong> <span  class=" ">{{ order.paymentStatus }}</span></p>
      <p class="p-3 d-flex"><strong>Date Slot:</strong> <span class="text-bg-primary rounded ">{{ (order.dateSlot | date:'yyyy-MM-dd') || order.dateSlot }}</span></p>
      <p class="p-3 d-flex"><strong>Time Slot:</strong> <span class="text-bg-info rounded">{{ order.timeSlot }}</span></p>
    </div>
  </div>
  

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="setPage(1)" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="setPage(page - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let pageNumber of pages" [class.active]="pageNumber === page">
        <a class="page-link" (click)="setPage(pageNumber)">{{ pageNumber }}</a>
      </li>
      <li class="page-item" [class.disabled]="page === totalPages">
        <a class="page-link" (click)="setPage(page + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="page === totalPages">
        <a class="page-link" (click)="setPage(totalPages)" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>


  </div>
</div>