<!-- orders.component.html -->
<app-navbar></app-navbar>
<div class="orderbody">
    <app-sidebar></app-sidebar>
<div class="orders-container">
    
    <ng-template #noOrders>
      <div class="loader"></div>
    </ng-template>
<div *ngIf="orders.length > 0; else noOrders">
  <div class="container mt-3 searchback">
    <button class="btn" (click)="back()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
        <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z" />
        <path d="M13.293 7.293 8.586 12l4.707 4.707 1.414-1.414L11.414 12l3.293-3.293-1.414-1.414z" />
      </svg>
    </button>
    <h2>Pending Orders Of Chikku </h2>
    <form class="form-inline d-flex">
        <input type="search" class="form-control mr-sm-2" placeholder="Search..." aria-label="Search">
        <svg class="feather feather-search" fill="none" height="54" stroke="currentColor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 22 22" width="24"
        xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="11" r="8" />
        <line x1="21" x2="16.65" y1="21" y2="16.65" />
      </svg>
    </form>
</div>

  <!-- <div class="order-item" *ngFor="let order of orders | slice: (page-1)*pageSize : page*pageSize">
    <div class="order-details   page-item">

      <p class="p-3 "><strong>User Name:</strong> {{ order.userName }}</p>
      <p class="p-3"><strong>Email:</strong> {{ order.emailId }}</p>
      <p class="p-3"><strong>Total Price:</strong> <strong>₹{{ order.totalPrice }}</strong></p>
      <p class="p-3"><strong>Order Status:</strong> {{ order.orderStatus }}</p>
      <p class="p-3 "><strong>Payment Status:</strong> <span  class=" ">{{ order.paymentStatus }}</span></p>
      <p class="p-3 d-flex"><strong>Date Slot:</strong> <span class="text-bg-primary rounded ">{{ (order.dateSlot | date:'yyyy-MM-dd') || order.dateSlot }}</span></p>
      <p class="p-3 d-flex"><strong>Time Slot:</strong> <span class="text-bg-info rounded">{{ order.timeSlot }}</span></p>
    </div>
  </div> -->
  <mat-table [dataSource]="orders | slice: (page-1)*pageSize : page*pageSize" matSort matPaginator class="mat-elevation-z8 demo-table " >

    <!-- Customer Name Column -->
    <ng-container matColumnDef="userName" >
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ invoice.userName }} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="emailId">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ invoice.emailId }} </mat-cell>
    </ng-container>

    <!-- Contact Column -->
    <ng-container matColumnDef="mobileNumber">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef> Contact </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ invoice.mobileNumber }} </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="totalPrice">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> ₹{{ invoice.totalPrice }} </mat-cell>
    </ng-container>

    <!-- Order Number Column -->
    <ng-container matColumnDef="orderNumber">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef>  Time </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ invoice.timeSlot }} </mat-cell>
    </ng-container>

    <!-- Email Status Column -->
    <ng-container matColumnDef="orderStatus">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ (invoice.dateSlot | date:'yyyy-MM-dd') || invoice.dateSlot }}</mat-cell>
    </ng-container>

    <!-- time Status Column -->
    <!-- <ng-container matColumnDef="TimeStatus">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ invoice.timeSlot }}</mat-cell>
    </ng-container> -->

    <!-- Assigned Column -->
    <ng-container matColumnDef="isAssigned">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef> Assigned </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ invoice.isAssigned ? 'Yes' : 'No' }} </mat-cell>
    </ng-container>

    <!-- Service Started Column -->
    <ng-container matColumnDef="serviceStarted">
      <mat-header-cell class="text-primary" style="background-color:lavender;" *matHeaderCellDef> Service Started </mat-header-cell>
      <mat-cell class="text-secondary" *matCellDef="let invoice"> {{ invoice.serviceStarted ? 'Yes' : 'No' }} </mat-cell>
    </ng-container>
    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator 

   showFirstLastButtons [length]="dataSource.data.length" [pageSize]="pageSize" (page)="setPage($event)">
</mat-paginator>

  <!-- <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="setPage(1)" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="setPage(page - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let pageNumber of pages" [class.active]="pageNumber === page">
        <a class="page-link" (click)="setPage(pageNumber)">{{ pageNumber }}</a>
      </li>
      <li class="page-item" [class.disabled]="page === totalPages">
        <a class="page-link" (click)="setPage(page + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="page === totalPages">
        <a class="page-link" (click)="setPage(totalPages)" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> -->
</div>


  </div>
</div>