<app-navbar></app-navbar>
<div class="d-flex serv">
    <app-sidebar></app-sidebar>
<div class="container d-flex justify-content-between">
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-6 mb-4 solbeto d-flex flex-md-colomn flex-column">
         
            <div class="bg-light rounded-2 border p-4">
              <h1 class="text-center small">
                Select a Category
              </h1>
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-center align-items-center p-2 bg-light mb-3">
                  <select class="form-select border rounded w-100 py-2 px-3" [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()">
                    <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName }}</option>
                  </select>
                </div>
                <h1 class="text-center small">
                  Select a SubCategory
                </h1>
                <div class="d-flex justify-content-center p-2 bg-light">
                 
                  <select class="form-select border rounded w-100 py-2 px-3" [(ngModel)]="selectedSubCategoryId" (change)="onSubcategorychange()">
                    <option value="" disabled>Select a subcategory</option>
                    <option *ngFor="let subcategory of subcategories" [value]="subcategory.subCategoryId">{{subcategory.subCategoryName}}</option>
                  </select>
                </div>
                <h1 class="text-center small">
                  Select a Service to be Edited
                </h1>
                <div class="d-flex justify-content-center p-2 bg-light">
                 
                    <select class="form-select border rounded w-100 py-2 px-3" [(ngModel)]="selectedServiceId" (change)="getServicesById()">
                      <option value="" disabled>Select a service</option>
                      <option *ngFor="let service of getServicesbyIdList" [value]="service.serviceId">{{service.serviceName}}</option>
                    </select>
                  </div>
                  
                  
              </div>
            </div>
            


            <div class=" p-2 bg-light .subcategories-list flex-row">
              <ul class="list-group list-group-vertical-md w-100">
                <li *ngFor="let service of getServicesbyIdList" class="list-group-item border rounded mx-2 mb-2">
                  <div class=" align-items-center">
                    <img src="{{service.imageUrl}}" alt="{{service.serviceName}}" class="img-fluid rounded" style="max-width: 100px; max-height: 100px;" />
                    <div class="ml-3">
                      <h5 class="mb-0">{{service.serviceName}}</h5>
                      <button class="btn btn-danger mt-2" (click)="deleteService(service.serviceId)">Delete</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          
          


          <div class="col-md-6 mb-4">
            <div class="border-2 bg-white border rounded-2 shadow-md rounded-md p-4">
             
                <form class="max-w-600 mx-auto" (ngSubmit)="serviceSubmit()">
                    <div class="mb-4">
                        <label for="serviceName" class="form-label text-gray-700 text-sm font-bold mb-2">Service Name</label>
                        <input type="text" id="serviceName" name="serviceName"
                            class="form-control border rounded w-full py-2 px-3" required=""
                            [(ngModel)]="serviceForm.serviceName" value="" />
                    </div>
                    <div class="mb-4">
                        <label for="description" class="form-label text-gray-700 text-sm font-bold mb-2">Description</label>
                        <textarea id="description" name="description" rows="4"
                            class="form-control border rounded w-full py-2 px-3" required=""
                            [(ngModel)]="serviceForm.description"></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="image" class="form-label text-gray-700 text-sm font-bold mb-2">Image Upload</label>
                        <input type="file" id="image" name="encodeDocument" accept="image/*" class="form-control py-2 px-3"
                            (change)="onFileChange($event)" />
                    </div>
                    <div class="mb-4">
                        <label for="price" class="form-label text-gray-700 text-sm font-bold mb-2">Price</label>
                        <input type="number" id="price" name="price" class="form-control border rounded w-full py-2 px-3"
                            required="" [(ngModel)]="serviceForm.price" value="" />
                    </div>
                    <div class="mb-4">
                      <label for="price" class="form-label text-gray-700 text-sm font-bold mb-2">BannerUrl</label>
                      <input type="text" id="bannerUrl" name="bannerUrl" class="form-control border rounded w-full py-2 px-3"
                          required="" [(ngModel)]="serviceForm.bannerUrl" value="" />
                  </div>
                    <div class="mb-4">
                        <label for="warrantyDuration" class="form-label text-gray-700 text-sm font-bold mb-2">Warranty
                            Duration</label>
                        <input type="text" id="warrantyDuration" name="warrentyDuration"
                            class="form-control border rounded w-full py-2 px-3" required="" value=""
                            [(ngModel)]="serviceForm.warrentyDuration" />
                    </div>
        
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          
            </div>
          </div>
        </div>
      </div>
      
  
</div>
</div>