<!-- Assuming this is your Angular component template -->
<app-navbar></app-navbar>

<div class="d-flex">
    
<app-sidebar></app-sidebar>

<div class="userlist">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getAllUsers">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.emailId }}</td>
                <td>{{ user.mobileNumber }}</td>
              
            </tr>
        </tbody>
    </table>
</div>

    

    
</div>
