.sidebar-1 {
  width: fit-content;
  min-height: 550px;
  background-color: #333;
  color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for a subtle lift */

  /* Centering content in the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Adding styles for the SVG icons */
.sidebar-1 h1 svg {
  fill: white;
  margin-right: 10px;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 720px) {
  .sidebar-1 {
    width: 80%; /* Full width on mobile */
    box-shadow: none; /* Remove box shadow on mobile for a flatter look */
    padding: 10px; /* Adjusted padding for better spacing on mobile */
  }

  .sidebar-1 h1 {
    margin-bottom: 10px; /* Added margin between icons on mobile */
    font-size: 1.2rem; /* Adjusted font size for better readability on mobile */
  }
}
