<app-navbar></app-navbar>

<div class="dash">

   <app-sidebar></app-sidebar>
   <div class="board">
      <div class="component m-3 p-4 ">
         <div class="container max-w-160">
            <div class="row ">
               <div class="col-md-4 col-sm-6 h-50 p-2 ">
                  <div class="text-bg-primary p-4 component rounded-2 Larger-shadow scale-effect">
                     Total orders
                  </div>
               </div>
               <div class="col-md-4 h-50 col-sm-6 h-50 p-2">
                  <div class="text-bg-secondary p-4 rounded-2 Larger shadow scale-effect">
                     Completed today
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 h-50 p-2">
                  <div class="text-bg-success p-4 rounded-2 Larger shadow scale-effect">
                     Pending Orders
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 h-50 p-2">
                  <div class="text-bg-warning rounded-2 g-col-6 p-4 Larger shadow scale-effect p-3">
                     Canceled Orders
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 h-50 p-2">
                  <div class="text-bg-info rounded-2 g-col-6 p-4 Larger shadow scale-effect p-3">
                     Alloted Orders
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 h-50 p-2">
                  <div class="text-bg-danger rounded-2 g-col-6 p-4 Larger shadow scale-effect p-3">
                     Paylater Orders
                  </div>
               </div>
            </div>
         </div>


      </div>
      <div class="d-flex ml-auto justify-content-md-evenly">
         <div
            class="d-flex flex-column justify-content-between justify-content-md-evenly  p-4 flex-md-row">
            <div class="notifications-container m-3">
               <h2>Trending Services and more</h2>
               <ul class="services-list">
                  <li>LapTops</li>
                  <li>Networking</li>
                  <li>Servers</li>
                  <li>Printers</li>
               </ul>
            </div>
            <div class="ml-auto p-4">
               <canvas class="border p-4 w-570 w-md-35 h-90 h-md-20 h-md-35 rounded-2" id="ordersChart" width="300"
                  height="300"></canvas>

            </div>
            <app-chart></app-chart>
         </div>

      </div>

   </div>
</div>

<div class="d-md-flex flex-column flex-md-row justify-content-md-evenly -mt-40 ">
   <div class="">
      <div class="container my-4">
         <div class="border rounded-2 bg-light shadow d-md-flex flex-column justify-content-center p-3">
             <h2 class="text-center mb-4">List of Categories</h2>
             <button class="btn btn-danger w-100 mb-3" routerLink="/subcategory">Add Categories</button>
         </div>
     </div>
     
      <div class="notifications-container ">
        
         <ul class="services-list">
            <li *ngFor="let category of categories" class="list-group-item">
               <img [src]="category.imageUrl" alt="{{ category.categoryName }}" class="img-fluid"
                  style="max-width: 50px;">
               {{ category.categoryName }}
            </li>
         </ul>
      </div>
   </div>
   <div class="">
      <div class="container my-4">
         <div class="container my-4">
            <div class="border rounded-2 bg-light shadow d-md-flex flex-column justify-content-center p-3">
                <h2 class="text-center mb-4">List of Subcategories</h2>
                <button class="btn btn-info w-100 mb-3" routerLink="/subcategory">Add Subcategories</button>
            </div>
        </div>
        
     </div>
     
     
      <div class="notifications-container ">
  

         <ul class="services-list">
            <li *ngFor="let subcategory of subCategories" class="list-group-item subcategory-item">


               <div class="flex-column">
                  <div class="col-6">
                     <span>{{ subcategory.subCategoryName }}</span>
                  </div>
                  <div class="col-6">

                     <span>{{ subcategory.description | slice:0:30 }}{{ subcategory.description.length > 30 ? '...' : ''
                        }}</span>
                  </div>
               </div>

            </li>

         </ul>
      </div>
   </div>
   <div class="" >
      <div class="container my-4">
         <div class="border rounded-2 bg-light shadow d-md-flex flex-column justify-content-center p-3">
             <h2 class="text-center mb-4">List of Services</h2>
             <button class="btn btn-warning w-100 mb-3" routerLink="/subcategory">ADD Services</button>
         </div>
     </div>
     
      <div class="notifications-container ">
   
         <ul class="services-list">
            <li *ngFor="let category of services" class="list-group-item">
               <img [src]="category.imageUrl" alt="{{ category.imageUrl }}" class="img-fluid" style="max-width: 50px;">
               {{ category.serviceName }}
            </li>
         </ul>
      </div>
   </div>
</div>