<app-navbar></app-navbar>

<div class="dash">
   <app-sidebar></app-sidebar>

   <div class="board">
      <div class="brisk m-3">
         <div class="dashbox curser  text-bg-danger scale-effect" routerLink="/allorders">
            <div style="margin-top: 20px;">
               <p class="text-center p-6">Total Orders</p>
               <p class="text-center ">{{orders.length }}</p>
            </div>


         </div>
         <div class="p-1"></div>

         <div class="dashbox curser text-bg-primary scale-effect" routerLink="/placedOrders">
            <div style="margin-top: 20px;">
               <p class="text-center p-6"> Placed Orders</p>
               <p class="text-center ">{{PendingOrders.length}}</p>
            </div>
         </div>
         <div class="p-1"></div>



         <div class="dashbox curser text-bg-info scale-effect" routerLink="/paylater">
            <div style="margin-top: 20px;">
               <p class="text-center p-6">Pay later Orders</p>
               <p class="text-center ">{{PaylaterOrders.length}}</p>
            </div>

         </div>
         <div class="p-1"></div>
         <div class="dashbox curser text-bg-success scale-effect" routerLink="/completed">
            <div style="margin-top: 20px;">
               <p class="text-center p-6"> Completed Orders</p>
               <p class="text-center ">{{CompletedOrders.length}}</p>
            </div>
         </div>
      </div>
      <div class="brisk">
         <div class=" marg" *ngFor="let engineer of allEngineers">
            <div class="dashbox border   scale-effect">
               <p class="text-center curser ">{{ engineer.engineerName }}</p>
               <div class="d-flex ">
                  <button class="btn btn-warning buttonn ">Total <br> Orders</button>
                  <button class="btn btn-primary buttonn ">Pending <br>Orders</button>
                  <button class="btn btn-success buttonn ">Completed <br>Orders</button>
               </div>
            </div>
         </div>
      </div>







      <div class="d-flex ml-auto justify-content-md-evenly p-3 charts">
         <div class="d-flex flex-column justify-content-between justify-content-between  p-4 flex-md-row">
            <app-barchart></app-barchart>
            <div class="ml-auto charts">
               <canvas class="border p-4 w-570 w-md-35 h-90 h-md-20 h-md-35 rounded-2" id="ordersChart" width="300"
                  height="300"></canvas>

            </div>
            <app-chart></app-chart>
         </div>

      </div>

   </div>
</div>

<div class="d-md-flex flex-column flex-md-row content -mt-40 editContent">
   <div class="showpieace">
      <!-- <div class="container w-150 h-150 my-2">
         <div class="border rounded-2 bg-light shadow d-md-flex flex-column justify-content-center p-3">
            <h2 class="text-center mb-4">List of Categories</h2>
            <div class="d-flex ">
               <button class="btn btn-danger w-40 mb-3" routerLink="/categorylist">Add Category</button>
               <button class="btn btn-primary w-40 mb-3" routerLink="/editCategory">Edit Category</button>

            </div>
         </div>
      </div> -->
      <div>
         <div class="cattille">
            <h1 class="listtille">List of Categories</h1>
            <div class="d-flex justify-content-center"><button class="btn btn-info butserve "
                  routerLink="/categorylist">Add Category</button>
               <button class="btn btn-primary butserve " routerLink="/editCategory">Edit Category</button>
            </div>
         </div>
      </div>

      <div class="notifications-container">

         <ul class="services-list">
            <li *ngFor="let category of categories" class="list-group-item">
               <img [src]="category.imageUrl" alt="{{ category.categoryName }}" class="img-fluid"
                  style="max-width: 50px;">
               {{ category.categoryName }}
            </li>
         </ul>
      </div>
   </div>
   <div class="showpieace" id="subcategory">
      <!-- <div class="container my-2">
         <div class="container w-150 h-150 my-2">
            <div class="border rounded-2 bg-light shadow d-md-flex flex-column  p-3">
               <h2 class="text-center mb-4">List of Subcategories</h2>
               <div class="d-flex">
                  <button class="btn btn-info w-40 mb-3" routerLink="/subcategory">Add Subcategory</button>
                  <button class="btn btn-primary w-40 mb-3" routerLink="/editSubcategory">Edit Subcategory</button>
               </div>
            </div>
         </div>

      </div> -->
      <div>
         <div class="cattille">
            <h1 class="listtille">List of Subcategories</h1>
            <div class="d-flex justify-content-center">
               <button class="btn btn-info butserve" routerLink="/subcategory">Add Subcategory</button>
               <button class="btn btn-primary butserve" routerLink="/editSubcategory">Edit Subcategory</button>

            </div>

         </div>
      </div>


      <div class="notifications-container">


         <ul class="services-list">
            <li *ngFor="let subcategory of subCategories" class="list-group-item subcategory-item">


               <div class="flex-column">
                  <div class="col-6">
                     <p class="font-bold">{{ subcategory.subCategoryName }}</p>
                  </div>
                  <div class="col-6">

                     <p>{{ subcategory.description | slice:0:30 }}{{ subcategory.description.length > 1 ? '...' : ''
                        }}</p>
                  </div>
               </div>

            </li>

         </ul>
      </div>
   </div>
   <div class="showpieace" id="service">
      <!-- <div class="container w-150 h-150 my-2">
         <div class="border rounded-2 bg-light shadow d-md-flex flex-column justify-content-center p-3">
            <h2 class="text-center mb-4">List of Services</h2>
            <div class="d-flex"><button class="btn btn-warning w-40 mb-3" routerLink="/addservices">Add
                  Service</button>
               <button class="btn btn-primary w-40 mb-3" routerLink="/editservice">Edit Service</button>
            </div>
         </div>
      </div> -->
      <div>
         <div class="cattille">
            <h1 class="listtille">List of Services</h1>
            <div class="d-flex justify-content-center">
               <button class="btn btn-info butserve" routerLink="/addservices">Add
                  Service</button>
               <button class="btn btn-primary butserve" routerLink="/editservice">Edit Service</button>

            </div>

         </div>
      </div>

      <div class="notifications-container ">

         <ul class="services-list">
            <li *ngFor="let category of services" class="list-group-item">
               <img [src]="category.imageUrl" alt="{{ category.imageUrl }}" class="img-fluid" style="max-width: 50px;">
               {{ category.serviceName }}
            </li>
         </ul>
      </div>
   </div>
</div>
<!-- Add the arrow button with an image -->
<button class="scroll-arrow" (click)="scrollToTopOrBottom()">
   <img class="icon" src="https://www.iconpacks.net/icons/2/free-click-icon-2384-thumb.png" alt="Scroll Arrow">
</button>