<app-navbar></app-navbar>
<div class="d-flex">
    <app-sidebar></app-sidebar>
<div class="container-1  mb-4  ">
    
        <form (ngSubmit)="onSubmit()" class="border border-dark rounded-2 ">
      <div class="mb-3  p-3">
        <label for="engineerName" class="form-label ">Engineer Name</label>
        <input type="text" class="form-control" id="engineerName" [(ngModel)]="engineer.engineerName" name="engineerName" required>
      </div>
  
      <div class="mb-3  p-3">
        <label for="mobileNumber" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNumber" [(ngModel)]="engineer.mobileNumber" name="mobileNumber" required>
      </div>
  
      <div class="mb-3  p-3">
        <label for="expertise" class="form-label">Expertise</label>
        <input type="text" class="form-control" id="expertise" [(ngModel)]="engineer.expertise" name="expertise" required>
      </div>
  
      <div class="mb-3  p-3">
        <label for="experience" class="form-label">Experience</label>
        <input type="number" class="form-control" id="experience" [(ngModel)]="engineer.experience" name="experience" required>
      </div>
  
      <div class="mb-3  p-3">
        <label for="bio" class="form-label">Bio</label>
        <textarea class="form-control" id="bio" [(ngModel)]="engineer.bio" name="bio" rows="3" required></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary ml-auto">Submit</button>
    </form></div>

    </div>

  
