/* Add these styles to your component's CSS file or styles.scss */

.call {
    width: 100%;
}

.custom-container {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.custom-list-group {
    margin-top: 10px;

}
.pagination{
    cursor: pointer;
}
.custom-list-item {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.custom-list-item:hover {
    transform: scale(1.02);
}

.custom-item-content {
    width: 100%;

    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .custom-container {
        padding: 10px;
    }
    
.custom-item-content {
    width: 100%;

    padding: 10px;
    display: block;
    justify-content: space-between;
    
}
    .call {
        width: 70vw;
        margin-left: 50px;
    }
    .custom-list-group {
        margin-top: 20px;
        display: block;
    }
}
