<!-- paymentinvoice.component.html -->
<app-navbar></app-navbar>

<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="call container mt-4">
<!-- HTML -->
<div *ngIf="loading" class="loader-overlay">
    <div class="loader"></div>
  </div>
  
        <div *ngIf="error" class="alert alert-danger">
            <p>Error: {{ error }}</p>
        </div>

        <div *ngIf="!loading && !error" class="custom-container">
          <button class="btn btn-warning" (click)="back()">back</button>
            <ul class="list-group custom-list-group">
                <li *ngFor="let invoice of invoices | slice: (page-1)*pageSize : page*pageSize"
                    class="list-group-item d-flex justify-content-between align-items-center custom-list-item">
                    <div class="custom-item-content">
                        <p><strong>Customer Name:</strong> {{ invoice.userName}}</p>
                        <p><strong>Email:</strong> <br>{{ invoice.emailId}}</p>
                        <p class="m-3"><strong>Contact:</strong> {{ invoice.mobileNumber}}</p>
                        <p><strong>Amount:</strong> {{ invoice.totalPrice}}</p>
                        <p><strong>Order number:</strong> {{ invoice.orderNumber }}</p>
                        <p><strong>Email Status:</strong> {{ invoice.orderStatus}}</p>
                        <p><strong>Assigned:</strong> {{ invoice.isAssigned}}</p>
                        <p><strong>serviceStarted:</strong> {{ invoice.serviceStarted }}</p>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" [class.disabled]="page === 1">
                        <a class="page-link" (click)="setPage(1)" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page === 1">
                        <a class="page-link" (click)="setPage(page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let pageNumber of pages" [class.active]="pageNumber === page">
                        <a class="page-link" (click)="setPage(pageNumber)">{{ pageNumber }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="page === totalPages">
                        <a class="page-link" (click)="setPage(page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page === totalPages">
                        <a class="page-link" (click)="setPage(totalPages)" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
    </div>
</div>
