<app-navbar></app-navbar>
<div class="contains">
    <app-sidebar></app-sidebar>
    <!-- category.component.html -->
<div class="category-container">
    <div class="category-selection">
      <label for="categoryDropdown">Select Category:</label>
      <select id="categoryDropdown" [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()">
        <option value="" disabled>Select a category</option>
        <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName }}</option>
      </select>
    </div>
  
    <div class="add-section">
     
  
      <div class="add-subcategory">
        <h2>Add Subcategory:</h2>
        <form (ngSubmit)="onSubmit()">
            <label for="subcategoryName">Name:</label>
            <input type="text" id="subcategoryName"  name="subCategoryName"  [(ngModel)]="newSubcategory.subCategoryName" name="subcategoryName" required>
    
            <label for="subcategoryDescription">Description:</label>
            <textarea id="subcategoryDescription" name="description" [(ngModel)]="newSubcategory.description" name="subcategoryDescription" required></textarea>
            <div class="mb-4">
              <label for="image" class="form-label text-gray-700 text-sm font-bold mb-2">Image Upload</label>
              <input type="file" id="image" name="encodeDocument" accept="image/*" class="form-control py-2 px-3"
                  (change)="onFileChange($event)" />
          </div>
            <button type="submit">Add Subcategory</button>
        </form>
    </div>
    
      <!-- admin-subcategory.component.html -->

<div class="subcategories-list" *ngIf="selectedCategoryId">
    <h2>Subcategories:</h2>
    <ul>
      <li *ngFor="let subcategory of subcategories" class="subcategory-item">
        <span>{{ subcategory.subCategoryName }}</span>
        <button (click)="onDeleteSubcategory(subcategory.subCategoryId)" class="delete-button">Delete</button>
      </li>
    </ul>
  </div>
  
    </div>
  
   
  </div>
  


</div>